body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    color: rgb(44, 41, 44);
    background-color: rgb(252, 245, 253);
}

#main-header{
    background-color: rgb(115, 71, 217);
    padding: 2rem 5%;
    color: white;
    text-align: center;
}

.btn {
    font: inherit;
    background-color: rgb(115, 71, 217); 
    border: 1px solid rgb(115, 71, 217);
    border-radius: 4px;
    color: white;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
}

.btn-alt {
    background-color: transparent;
    border-color: transparent;
    color: rgb(115, 71, 217);
}

.btn:hover {
    background-color: rgb(89, 36, 215);
    border-color: rgb(89, 36, 215);
}

.btn-alt:hover {
    background-color: rgb(210, 190, 255);
    border-color: transparent;
}